a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: #cc0000;
  text-decoration: none;
  cursor: pointer;
}

input:focus{
  outline: none;
}

/* LANDING PAGE */

body.landing{
  background: url("img/Home.png") no-repeat;
  background-size: cover;
}

.tk-landing{
  color: white;
  text-align: center;
  transform: translate(0%,75%);
}

.tk-landing h1{
  font-size: 60px;
  font-family: 'Copperplate Gothic';
  padding-bottom: 30px;
}

.tk-landing p{
  max-width: 370px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.btn-explore-sports{
  background-color: var(--primary);
  color: black;
  border: 2px solid black;
  border-radius: 33px;
  font-family: 'Georgia';
  font-size: 20px;
  padding: 7px 33px;
}

.btn-explore-outdoors{
  background-color: #000;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 33px;
  font-family: 'Georgia';
  font-size: 20px;
  padding: 7px 20px;
}

/* NAVIGATION */

nav{
  background-color: #000;
  height: 90px;
}

.navbar{
  padding: 0;
  z-index: 1;
}

nav .logo{
  height: 65px;
  width: auto;
  z-index: 1;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: -9px;
}

nav .logo-bg{
  z-index: -1;
  background-color: var(--primary);
  height: 90px;
  width: 325px;
  margin-left: -50px;
  -webkit-transform: skew(-32deg);
  -moz-transform: skew(-32deg);
  -o-transform: skew(-32deg);
  position: absolute;
}

nav a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-right: 15px;
  margin-top: 10px;
}

nav a:hover{
  color: var(--primary);
}

.dropdown-item:hover, .dropdown-item:focus{
  background-color: var(--primary);
  color: #fff;
}







.dropdown-menu{
  background-color: #000;
  color: #fff;
  border-radius: 0;
  margin-top:9px;
  padding: 0;
  left: -50%;
}

.dropdown-item{
  padding: 5px 32px;
  color: #fff;
  text-align: center;
}

.login-dropdown{
  width: 300px;
  padding: 10px;
  right: -1px !important;
}

.login-dropdown h4, .login-dropdown .login-button{
  padding-bottom: 10px;
}

.login-dropdown .emailSection{
  padding-bottom: 20px;
}

.login-dropdown .passwordSection{
  padding-bottom: 30px;
}

.cartQty{
  color: #cc0000;
  margin-left: 6px;
}

/* BODY */

body{
  overflow-x: hidden;
}

.hero-img img.hero{
  position: relative;
  margin-top: -150px;
  width: 100%;
  padding-bottom: 30px;
}

.difference img{
  width: 100%;
  position: absolute;
}

.baseball-option{

}

.ep{
  z-index: -1;
  position: absolute;
}

.alt-sports-image{
  width: 100%;
}

.creations {
  padding-top: 90px;
  padding-bottom: 120px;
}

.main-sports h1, .main-sports h5, .creations h1, .creations h5{
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  text-align: center;
}

.main-sports h5, .creations h5{
  margin-top: -7px;
  color: #737373;
}

.difference{
  background: url(img/the-difference.jpg) no-repeat;
  background-size: cover;
}

.banner{
  padding: 200px 0;
}

.difference h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #fff;
}

.difference p{
  color: #fff
}

.difference-content{
  text-align: center;
}

.video-player{
  margin: 0;
  width: 100%;
  height: 100%;
}

.embed-container{
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-player iframe{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#prices{
  padding: 130px 0 80px;
}

.store #prices{
  padding: 30px 0 50px;
}

.prices-headline{
  margin: 0 auto;
}

.pd0{
	margin: 0;
  padding: 0;
}

#prices span{
	font-size:30px;
	color:#FFF;
}

#prices h3{
	color:#FFF;
}

#prices .features li{
	padding:10px;
}

#prices .btn.btn-default{
	margin:20px 0px;
}

#prices .features-border li{
	border-top:1px solid #c7c7c7;
	padding: 10px 0px;
}

#prices .features-border li:last-child{
	border-bottom:1px solid #c7c7c7;
}

#price1 {
  box-shadow: 0 -2px 20px rgba(0,0,0,0.2);
  z-index: 2;
}

#price2 {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 2;
}

#price2:before {
  content: "\2605 Most Popular";
  width: 100%;
  height: 40px;
  color: white;
  background: #4d4d4d;
  position: absolute;
  left: 0;
  text-align: center;
  padding-top: 7px;
  right: 0;
  top: -30px;
  margin: 0 auto;
}

.btn.btn-default {
  background-color: var(--primary);
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 13px 20px;
  font-size: 13px;
  font-weight: 600
}

.prices-box{
	margin:50px 0px;
}

.top-content{
	background-color:#4d4d4d;
	padding:30px 20px 20px 20px;
}

.bottom-content{
	background-color:#dbdbdb;
	padding:50px;
  min-height: 290px;
}

.big-price span{
	color: #333;
	font-size:40px;
}

.btn-price{
    background-color:#5db4c0;
    color: #fff;
    border-radius:50%;
	border:none;
    padding:40px 20px;
    font-size: 13px;
	font-weight: 600;
	margin-top:20px;
}




/* PRODUCTS */

h2.heading::before {
    bottom: 130px;
    width: 60px;
}
h2.heading::before, h2.heading::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    border: 1px solid #222;
}
h2.heading::after {
    bottom: 126px;
    width: 35px;
}
h2.heading{
  margin-bottom: 20px;
}

.insta-feed-header{
  margin: 0 auto;
}

.insta-feed h2.heading{
  margin-bottom: 45px;
}

.insta-feed h2.heading::before{
  bottom: 110px
}

.insta-feed h2.heading::after{
  bottom: 106px;
}

.insta-feed svg{
  font-size: 25px;
  margin-top: 2px;
  position: absolute;
  margin-left: -37px;
}

.insta-feed a{
  font-size: 18px;
  font-weight: 500;
  color: #cc0000;
  margin-left: 50px;
}

.insta-feed .insta-feed-link{
  margin-bottom: 40px;
}

.insta-feed a:hover{
  text-decoration: underline;
}

.store-header{
  background: url('img/store-header.jpg') no-repeat;
  background-size: cover;
  padding: 250px 0;
  width: 100%;
  background-position: 0px 57%;
}

.store-professional{
  background: url('img/store-professional-grey.png') no-repeat;
  padding-top: 40px;
  margin-bottom: 80px;
  background-size: cover;
  background-position: 0;
}

.store-professional img.nic-besant{
  max-width: 500px;
}

.store-professional .besant-quote{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  color: #fff;
  font-size: 30px;
}

.store-professional .besant-quote-name{
  margin-left: 40px;
  font-size: 80%;
  color: #cc0000;
}

.product{
  padding: 0 15px;
}

.product-thumb{
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
}

.product-thumb .image{
  text-align: center;
}

.product-thumb .image img{
  margin-top: 15px;
  margin: 0 auto;
  max-width: 100%;
}

.product-contents h5{
  font-weight: 600;
}

.product-contents{
  padding: 0 20px;
}

.product-contents h5{
  color: #cc0000;
}

.product-contents .price{
  display: inline-block;
  margin-top: 2px;
  font-size: 20px;
}

.product-contents{
  margin-bottom: 20px;
}

.product-thumb button{
  position: absolute;
  right: 20px;
  margin-right: 16px;
  background-color: transparent;
  border: 2px solid #cc0000;
  color: #cc0000;
}

.product-thumb button:hover{
  border: 2px solid #000;
  color: #000;
  transition: 0.7s;
}

.view-all-btn, .view-less-btn{
  color: #cc0000;
}

.view-all-btn:hover, .view-less-btn:hover{
  color: #000;
  cursor: pointer;
}

#view-all{
  display: none;
}

#view-less-btn{
  display: none;
}

/* PRODUCT PAGE */

.product-image img{
  width: 100%;
}

.product-details label{
  display: block;
}

.product-details input#qty{
  border: 1px solid #222;
  border-radius: 2px;
  width: 65px;
  padding: 10px 13px;
}

.share-product {
  color: #222;
  float: right;
  margin-top: 45px;
}

.share-product svg{
  margin-left: 13px;
}

#custom-design{
  display: none;
}

.product-all{
  margin-top: 60px;
  margin-bottom: 100px;
}

.product-details .nav-tabs{
  /* border-bottom: 3px solid #383838; */
}

.product-details .nav-link{
  border: none;
  padding: 10px 20px 20px 20px;
}

.product-details a.nav-link{
  color: #757575;
  font-weight: 500;
  font-size: 17px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #383838;
}

.nav-tabs .nav-link:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #383838;
}

.product-details a.nav-link:hover{
  color: #383838;
}

.product-details .tab-content{
  margin-top: 20px;
  color: #383838;
  line-height: 1.7;
}

#design-select.custom-select, #product-select.custom-select{
  width: 50%;
}

.product-details .product-price{
  font-size: 18px;
  font-weight: 500;
  color: #757575;
}

.step-wrapper {
  padding: 20px 0;
  display: none;
}
.step-wrapper.active {
  display: block;
}

.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 20px;
}
.step-indicator li {
  display: table-cell;
  position: relative;
  float: none;
  padding: 0;
  width: 1%;
}
.step-indicator li:after {
  background-color: #ccc;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  top: 32px;
}
.step-indicator li:after {
  left: 50%;
}
.step-indicator li:last-child:after {
  display: none;
}
.step-indicator li.active .step {
  border-color: #4183D7;
  color: #4183D7;
}
.step-indicator li.active .caption {
  color: #4183D7;
}
.step-indicator li.complete:after {
  background-color: #87D37C;
}
.step-indicator li.complete .step {
  border-color: #87D37C;
  color: #87D37C;
}
.step-indicator li.complete .caption {
  color: #87D37C;
}
.step-indicator .step {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  position: relative;
  width: 64px;
  z-index: 1;
}
.step-indicator .step:hover {
  cursor: pointer;
}
.step-indicator .caption {
  color: #ccc;
  padding: 11px 16px;
}
.step-content{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#review-grip, #review-design, #review-colors{
  text-transform: capitalize;
}


/* CART */

.cart, .checkoutCointainer{
  padding: 50px 0 100px 0;
}

.cart-padding{
  width: 20px;
}

.your-cart{
  background-color: #eee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 15px;
}

.productRow{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.your-cart-overview{
  padding-right: 40px;
  border-radius: 20px;
}

.summaryColumn{
  background-color: #191919;
  color: #fff;
  border-radius: 2px;
  padding: 0;
}

.summaryRowBegin {
  border-bottom: #000 1px solid;
  padding: 20px;
}

.summaryRowEnd {
  border-top: #333 1px solid;
}

.checkoutCointainer .summaryRowEnd {
  padding: 14px 20px;
}

.summaryRow{
  border-bottom: #000 1px solid;
  border-top: #333 1px solid;
  padding: 14px 20px;
}

.summaryRow h4{
  font-size: 20px;
  text-transform: uppercase;
}

.summaryRow h5, .summaryRowEnd h5{
  font-size: 14px;
  text-transform: uppercase;
}

.total h5{
  font-size: 18px;
}

.summaryRow.subtotal, .summaryRow.shipping, .summaryRow.taxes, .summaryRow.total, .summaryRowEnd.total{
  padding-bottom: 28px;
}

.summaryRow.checkoutRow{
  padding-bottom: 31px;
}

.subtotal h5, .shipping h5, .taxes h5, .total h5, h6.product-name{
  float: left;
}

h5.summary-subtotal, h5.shipping-total, h5.tax-total, h5.total-total, h6.product-total{
  float: right;
}

.summary .promo input, .login-dropdown input{
  width: 169px;
  height: 28px;
  border-radius: 2px;
  border: none;
  margin-top: 2px;
  font-size: 12px;
  padding: 0 4px;
}

.login-dropdown input{
  width: 100%;
}

.summary .promo button{
  background: #cc0000;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  text-align: center;
  width: 75px;
  height: 28px;
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 12px;
}

.summary .checkout button, .login-dropdown button, .product-details .add-to-cart-btn button, .checkoutCointainer button{
  position: relative;
  margin: 0 auto;
  background: #cc0000;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
  font-size: 12px;
}

.product-details .add-to-cart-btn button{
  width: 230px;
  height: 46px;
  margin-top: 32px;
}

.summary .checkout{
  padding: 20px;
}

.productRow{
  border-left: 1px #eee solid;
  border-bottom: 1px #eee solid;
  border-right: 1px #eee solid;
}

.productRow img.design{
  margin-top: 33px;
  padding-bottom: 30px;
}

.cart-image{
  max-width: 100px;
  float: right;
}

.btn-cart{
  font-weight: 700;
  width: 48%;
  border: 1px solid #d4d4d4;
  background-color: #eee;
}

.product-total{
  color: var(--primary);
  float: right;
  font-size: 15px;
}

.cart a{
  text-decoration: underline;
  color: #000;
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 13px;
}

.cart a:hover{
  text-decoration: underline;
  color: #cc0000;
}

.cart p{
  font-size: 13px;
}

.cartItemOption{
  display: list-item;
  list-style: none;
  font-weight: 600;
}

.checkoutItemOption{
  display: list-item;
  list-style: none;
}

.productDetails, .productTotal{
  padding-top: 25px;
}

/* CHECKOUT */

#shippingAddress{
  display: none;
}

.checkoutCointainer .summaryRowEnd{
  margin-bottom: 10px;
}

/* ACCOUNT */



/* FOOTER */

a:hover{
    text-decoration:none;
}

.logo img{
  width: 100%;
}

.email {
    min-height: 200px;
    padding: 70px 0px;
    width:100%;
}

.email h2, .email p {
    color: #222;
    font-weight: 600;
}

#email-adresi {
    margin-top: 20px;
    border: none;
    width:50%;
    height:40px;
    padding-left:10px;
}

.footer {
    padding:100px 0px 50px;
	  color: #ccc;
    background-color: #292929;
}

.footer h3 {
	color: #FFF;
	font-size:15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom:20px;
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}

.footer ul li a {
	padding: 10px 0px;
    display: block;
    color: #ccc;
    font-weight: 600;
    font-size: 13px;
}

.footer ul li a:hover{
	color:#cc0000;
}

.footer-bottom{
	background-color: #111;
    color: #282c2d;
    font-size: 12px;
	text-align: center;
	height: 50px;
    line-height: 50px;
}

.footer .copyright{
  margin-top: 30px;
	font-size:13px;
	color: #777;
}

.footer-top{
	background-color: #222;
  text-align: center;
}

.product-page .footer-top{
  margin-top: -6px;
}

.footer-top .social-icons{
   padding:50px 0px;
}

.footer-top .social-icons svg{
	padding: 0 10px;
	font-size: 55px;
	color: #aaa;
}

.footer-top .social-icons svg:hover{
	color:#cc0000;
}

.logo{
   color:#FFF;
   font-size:30px;
   font-weight:600;
}
